%h1 New Advertisement
.form{ :role => :form }
  .row.form-group
    .btn-group
      .col-lg-4
        %select.combobox
          %option MAKE
          %option{value: ""} Peugeot
          %option{value: ""} Kia
          %option{value: ""} BMW
          %option{value: ""} Toyota
          %option{value: ""} Benz
  .row.form-group
    .btn-group
      .col-lg-4
        %select.combobox
          %option MODEL
          %option{value: ""} Peugeot
          %option{value: ""} Kia
          %option{value: ""} BMW
          %option{value: ""} Toyota
          %option{value: ""} Benz
  .row.form-group
    .btn-group
      .col-lg-4
        %select.combobox
          %option KILOMETERS
          %option{value: ""} Peugeot
          %option{value: ""} Kia
          %option{value: ""} BMW
          %option{value: ""} Toyota
          %option{value: ""} Benz
  .row.form-group
    .btn-group
      .col-lg-4
        %select.combobox
          %option YEAR
          %option{value: ""} Peugeot
          %option{value: ""} Kia
          %option{value: ""} BMW
          %option{value: ""} Toyota
          %option{value: ""} Benz
  .row.form-group
    .btn-group
      .col-lg-4
        %select.combobox
          %option LOCATION
          %option{value: ""} Peugeot
          %option{value: ""} Kia
          %option{value: ""} BMW
          %option{value: ""} Toyota
          %option{value: ""} Benz

  .row.form-group
    .col-lg-4
      %input.form-control{ :Price => 'advertisement[price]', :placeholder => ' PRICE' }
